.portfolio{
    display: flex;
    justify-content: space-between;
    margin: 30px;   
}
.header{
    display: flex;
}
ul{
    list-style-type: none;
}
.body{
    margin-top: 40px;
}
.About_me{
    /* border: 1px solid; */
    padding: 20px;;
}
.container{
    width: 100%;
    background-color: #ddd;
    text-align: right;
    /* padding: 0px; */
    /* margin: 0px; */
}
skills{
    /* text-align: right; */
    background-color: #2196F3;
    /* padding: 0px; */
    /* margin: 0px; */
}
.js{
    width: 99%;
    background-color: #2196F3;
}
.nodejs{
    width: 95%;
    background-color: #2196F3;
}
.python{
    width: 90%;
    background-color: #2196F3;
}
.aws{
    width: 93%;
    background-color: #2196F3;
}
